@media only screen and (max-width: 767px) {
    body {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .caixa-conteudo {
        width: 40rem;
        height: 50rem;
    }
}