:root {
    font-size: 62.5%;
    /* 1rem = 10px */
}


body {
    width: 100vw;
    height: 100vh;

    color: white;
    background-image: url(imgs/galaxia.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caixa-conteudo {
    width: 50rem;
    height: 60rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.caixa-conteudo img {
    width: 45%;
    height: auto;
    margin-bottom: 4rem;
}

h1 {
    font-size: 3rem;
    opacity: 0.9;
}

p {
    font-size: 1.5rem;
    opacity: 0.7;
    margin-bottom: 1rem;
}

button {
    background-color: #7f30db;
    color: white;
    border: none;
    transition: filter .2s;
}

input,
button {
    border-radius: 0.5rem;
    width: 35rem;
    height: 4rem;
    font-size: 2rem;
    text-align: center;
    gap: 1rem;
}


button:hover {
    filter: brightness(1.2);
    filter: contrast(180%);
    cursor: pointer;

}

#resposta {
    margin-top: 3rem;

    transition: opacity 1s;
}

#resposta div {
    font-size: 1.6rem;
    font-weight: normal;
    opacity: 0.9;
    margin-bottom: 1rem;
}